
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Yonetim/Views/Shared/_Layout.cshtml";
}

<h1>SADAKAELİ YARDIM DERNEĞİNİN ANA SAYFASIDIR.</h1>
<h1>Sol taraftan Haber yüklemesi,Slider Yönetimi ve İstediğiniz Yöneticiyi Tanımlama Yapabilirsiniz.</h1>
<h3>Yönetici Ekleme İşlemini Sadece Tanımlı Adminler Yapabilmektedir.</h3>
<h4>Yönetici Ekleme:Admin Tarafından Yönetici Ekleme,Düzenleme Ve Silme işlemi yapılmaktadır.</h4>
<h4>Haber Kontrol Menüsü :Haber Kontrol Menüsünde Haber Ekleme,Düzenleme Ve Silme işlemi yapılmaktadır.</h4>
<h4>Slider Kontrol Menüsü :Slider Kontrol Menüsünde Slider Ekleme,Düzenleme Ve Silme işlemi yapılmaktadır.Slider Ana Sayfada Sağ Sola Doğru Slayt oluşruran bölümdür.</h4>

